html { margin:0; padding:0;}
body {
  margin: 0;
  padding: 0;
  font: 62.5%/1 Verdana, "Helvetica Neue", sans-serif;
}

p { line-height: 1.5; }

#container { 
  margin: 0 auto;
  padding: 0 10px 100px;
  width: 650px;
  font-size: 1.2em;
}

form { 
  padding: 8px;
  background: #ececec;
  border: 1px solid #bbb;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

fieldset {
  margin: 0; padding: 0;
  border: 0;
}

legend {
  margin:0; padding:0;
  font-weight: 700;
}

legend a {
  display: block;
  padding: .5em 280px;
  color: #888;
  text-decoration: none;
}
legend a:hover { color: #333; }

form label {
  display: block;
  float: left;
  width: 30%;
}

form input[type="text"],
form textarea {
  width: 60%;
}

form textarea {
  height: 5em;
}

form input[type="submit"] {
  margin-left: 30%;
  cursor: pointer;
}
